<nav>
  <% if logged_in? %>
    <%= link_to current_user.email, current_user %> |
    <%= link_to 'Logout', session_path(current_user.id), method: :delete %>
  <% else %>
    <%= link_to 'Registration', new_user_path %> |
    <%= link_to 'Login', new_session_path %>
  <% end %>
</nav>